h1 {
    text-align: center;
    background-color: cadetblue;
    border-radius: 30px;
}

h2 {
    margin-right: 75%;
    border-bottom: 2px solid chocolate;
}

.pcentro {
    text-align: center;
}

.img {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}